<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section id="login">
        <div>
            <form method="POST">
                {{ form.csrf_token }} 
        
                <h2>Login</h2>
                {{ form.email.label }}
                {{ form.email}}
        
                <br>
                
                {{ form.password.label}}
                {{ form.password}}
                <br>
                {{ form.submit}}
            </form>
        </div>
    </section>
</body>
</html>
