<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section id="login">
        <div>
            <form action="/add_user" method="POST" enctype="multipart/form-data">
                
        
                <h2>Sign-in</h2>
                {{ form.email.label }}
                {{ form.email}}
        
                <br>
                
                {{ form.password.label}}
                {{ form.password}}

                <br>

                {{form.confirm_password.label}}
                {{form.confirm_password}}
                {{ form.submit}}
            </form>
        </div>
    </section>
</body>
</html>
